*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Crimson Text", serif;
  color: #00205b;
  font-size: 2.4rem;
  line-height: 1.6; }

a:link,
a:visited {
  text-decoration: none; }

h2 {
  font-size: 6.4rem;
  color: #fff; }

h3 {
  font-size: 4.8rem; }

strong {
  color: #034ea1; }

p {
  color: #4d4d4f;
  font-size: 1.6rem;
  text-align: left;
  font-family: "Montserrat", sans-serif; }

ul {
  list-style: none; }

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 19.5rem 75vh repeat(7, min-content);
  grid-template-columns: [full-start] 8rem [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(8rem, 1fr) [full-end]; }

.default-space {
  padding: 6rem 8rem; }

.hr-blue {
  border-color: #afd4ee;
  width: 100%; }

.view-more {
  background: #00205b;
  min-height: 9.6rem;
  color: #fff;
  grid-column: full-start/full-end;
  display: flex;
  justify-content: center;
  align-items: center; }

.headline {
  grid-column: full-start / full-end;
  text-align: center; }
  .headline__title {
    font-size: 9rem;
    font-weight: 600; }
    .headline__title span {
      color: #034ea1; }
  .headline hr {
    border-color: #afd4ee;
    margin: 6rem 0; }
  .headline__description {
    padding: 0 6%;
    font-size: 2.7rem;
    font-weight: 400; }

.topbar {
  grid-column: full-start / full-end;
  padding: 6rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 2000;
  position: sticky;
  top: 0;
  background: #fff; }
  .topbar__icons {
    display: flex;
    align-items: center; }
  .topbar__icon {
    display: block;
    height: 4rem;
    width: 4rem;
    background: #ACACAC;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    position: relative;
    margin-right: 5rem; }
    .topbar__icon i {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }
  .topbar__menu-icon {
    color: #034ea1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    display: flex;
    align-items: center; }
    .topbar__menu-icon i {
      margin-left: 1.5rem;
      color: #ACACAC;
      font-size: 3rem; }

.hero {
  background: url("../img/hero.jpg");
  grid-column: full-start / full-end;
  background-size: cover;
  position: relative; }
  .hero__title {
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase; }

.gallery {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); }
  .gallery__box {
    text-align: center;
    border-right: 1px solid #afd4ee;
    border-bottom: 1px solid #afd4ee;
    padding: 2.5rem 2rem; }
    .gallery__box img {
      width: 100%;
      height: auto; }

.navigation {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: .1rem;
  grid-template-rows: min-content; }
  .navigation__link:link, .navigation__link:visited {
    background: #034ea1;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    color: #fff;
    min-height: 17.5rem;
    position: relative;
    transition: .3s color; }
  .navigation__link:hover {
    color: #a4c055; }
  .navigation__box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 3.5rem; }
    .navigation__box i {
      position: absolute;
      right: 3%;
      top: 50%;
      transform: translateY(-50%);
      color: #a4c055; }

.dates {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: 33.33vw repeat(4, 1fr);
  grid-template-rows: repeat(2, max-content); }
  .dates__box {
    border-right: 1px solid #afd4ee;
    border-top: 1px solid #afd4ee;
    padding: 8rem 4rem; }
  .dates__title {
    font-weight: 400; }
  .dates__sub:link, .dates__sub:visited {
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: .09rem;
    font-family: "Montserrat", sans-serif;
    color: #00205b;
    font-weight: 600; }

.facts {
  grid-column: full-start / full-end;
  background: linear-gradient(0deg, rgba(0, 32, 91, 0.6), rgba(0, 32, 91, 0.6)), url("../img/fact-bg.png");
  background-size: cover;
  min-height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 4.27rem; }

.creativity {
  grid-column: full-start/full-end;
  height: 50rem;
  background: linear-gradient(0deg, rgba(15, 15, 25, 0.6), rgba(15, 15, 25, 0.6)), url("../img/creativity.jpg");
  background-size: cover;
  color: #fff;
  position: relative; }
  .creativity__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1.5rem; }

.people--1, .people--2, .people--3 {
  background-size: cover;
  height: 50rem;
  width: 100%;
  padding: 2rem;
  position: relative; }

.people {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .people__content {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1.5rem; }
  .people--1 {
    background: linear-gradient(0deg, rgba(15, 15, 25, 0.6), rgba(15, 15, 25, 0.6)), url("../img/girl.jpg"); }
  .people--2 {
    background: linear-gradient(0deg, rgba(15, 15, 25, 0.6), rgba(15, 15, 25, 0.6)), url("../img/earth.jpg"); }
  .people--3 {
    background: linear-gradient(0deg, rgba(15, 15, 25, 0.6), rgba(15, 15, 25, 0.6)), url("../img/two-people.jpg"); }
  .people__sub {
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    border-bottom: 1px solid #a4c055;
    font-size: 1.6rem;
    font-weight: 600; }
    .people__sub i {
      color: #a4c055; }

.footer {
  grid-column: 1/-1;
  padding: 6rem 8rem;
  font-family: "Montserrat", sans-serif; }
  .footer__brand {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer__logo {
    width: 40%; }
    .footer__logo img {
      width: 70%; }
  .footer__links {
    display: flex; }
  .footer__link {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-right: 1.5rem; }
    .footer__link a {
      color: #034ea1;
      font-weight: 600; }
  .footer__address {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #4d4d4f;
    font-style: normal;
    display: block;
    text-align: right;
    font-weight: 600; }
