.creativity{
    grid-column: full-start/full-end;
    height: 50rem;
    background: linear-gradient(0deg, rgba(15, 15, 25, 0.6), rgba(15, 15, 25, 0.6)), url('../img/creativity.jpg');
    background-size: cover;
    color: #fff;
}