.footer{
    grid-column: 1/-1;

    padding: 6rem 8rem;
    font-family: $font-secondary;

    &__brand{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo{

        width: 40%;;
        
        img{
            width: 70%;
        }
    }

    &__links{
        display: flex;
    }

    &__link{
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-right: 1.5rem;

        a{
            color: $light-blue;
            font-weight: 600;
        }
    }

    &__address{
        margin-top: 2rem;
        font-size: 1.2rem;
        color: $text-grey;
        font-style: normal;
        display: block;
        text-align: right;
        font-weight: 600;
        

    }

}