.navigation{
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: .1rem;
    grid-template-rows: min-content;
  

    &__link:link,
    &__link:visited{
        background: $light-blue;
        text-align: center;
        font-weight: 700;
        font-size: 3rem ;
        color: #fff;

        min-height: 17.5rem;
        position: relative;
        transition: .3s color;

    }

    &__link:hover{
        color: $green;
    }

    &__box{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        padding: 0 3.5rem;

        i{
            position: absolute;
            right: 3%;
            top: 50%;
            transform: translateY(-50%);
            color: $green;

        }

    }

}