.news{
    grid-column: full-start / full-end;
    text-align: center;

    &__title{
        font-size: 9rem;
        font-weight: 600;

        span{
            color: $light-blue;
        }
    }

    hr{
        border-color: $hr-blue;
        margin: 6rem 0;
    }

    &__description{
        padding: 0 6%;
        font-size: 2.7rem;
        font-weight: 400;
        

    }

}